<!--Modal de confirmacion para eliminar un elemento-->
<div class="modal" id="modalEliminar{{elemento}}">
    <div class="modal-dialog">
        <div class="modal-content modalEdit">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h3 class="fw-bold mb-5">Seguro que desea eliminar este {{elemento}}?</h3>
                <button class="btn btn-secondary ms-4 me-4 shadow" type="button"
                    data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger ms-4 me-4 shadow" type="button"
                    data-bs-dismiss="modal" (click)="aceptar()">Borrar</button>
            </div>
        </div>
    </div>
</div>