<!--Seccion About-->
<section class="row pt-5" id="about">
    <div class="col-12 mt-5">
        <h1 class="mt-5 text-uppercase"><strong>{{seccion.titulo}}</strong></h1>
        <img src="assets/StarSeparatorBlue.png" alt="----Soy un separador----" class="img-fluid">
        <div class="col-12">
            <div class="col-12 pt-3 mx-auto d-inline-flex position-relative justify-content-center">
                <img src="{{seccion.urlImagen}}" class="img-fluid col-4 col-md-1">
                <p class="col-8 col-md-6 align-self-stretch">{{seccion.texto}}</p>
            </div>
            <!--Editor de seccion-->
            <app-editor-seccion [seccion]="seccion" (messageEvent)="editarSeccion($event)"></app-editor-seccion>
            <article>
                <h3 class="col-12 text-decoration-underline fw-bold">Estudios</h3>
                <!--Editor de Estudios-->
                <app-editor-estudio [estudio]="estudioAEditar" (cambiar)="setearEditor($event)" (agregar)="agregarEstudio($event)"></app-editor-estudio>

                <div class="row">                
                    <app-info-estudio class="col-12 col-md-4"  [estudio]="study" (emisor)="setearEditor($event)" *ngFor="let study of estudios"></app-info-estudio>
                </div>
            </article>
            <article>
                <h3 class="col-12 text-decoration-underline fw-bold">Habilidades</h3>

                <div class="row">
                    <app-info-habilidad class="col-6 col-md-3 mx-auto px-md-5 mt-2 mb-2" [habilidad]="skill" *ngFor="let skill of habilidades"></app-info-habilidad>
                </div>
            </article>
        </div>
        <article>
            <!--Aca habria algo-->
        </article>
    </div>
</section>
