
    <!-- Tarjeta con la informacion general del proyecto -->
    <div class="card  mx-auto mt-3 text-white shadow proyecto" data-bs-toggle="modal"
        [attr.data-bs-target]="'#infoProject'+proyecto.id">
        <div class="card-body">
            <h5 class="card-title text-decoration-underline"><strong>{{proyecto.nombre}}</strong></h5>
            <img class="card-img rounded-circle" src="{{proyecto.rutasImagenes[0]}}">
            <div class="card-text">
                <p>{{getYear(proyecto.fecha)}}</p>
                <p>Clic para más información.</p>
            </div>
        </div>
    </div>
    <!--Botones para modificar o eliminar la tarjeta de proyecto-->
    <div class="col-12 mt-2">
        <app-elemento-boton [estilo]="'width:75px;'" [imagen]="'assets/EditButton.png'" [target]="'#editProjects'" (click)="activar()" class="editButton"></app-elemento-boton>
        <app-elemento-boton [estilo]="'width:75px;'" [imagen]="'assets/DeleteButton.png'" [target]="'#modalEliminarProyecto'" (click)="activar()" class="editButton"></app-elemento-boton>
    </div>

<!--Modal con la informacion detallada del proyecto-->
<div id="infoProject{{proyecto.id}}" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modalProyecto">
            <div class="modal-header ">
                <h3 class="col-11 modal-title mx-auto fw-bold"><strong>{{proyecto.nombre}}</strong>
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid col-6 mx-auto" [src]="imagen"
                    alt="Aca va una imagen del proyecto" *ngFor="let imagen of proyecto.rutasImagenes">
                <p class="col-12">{{proyecto.descripcion}} </p>
            </div>
            <div class="modal-footer col-12 ">
                <a class="btn btn-primary mx-auto d-flex align-items-center justify-content-center" 
                    [href]="proyecto.link">Ir al sitio</a>
            </div>
        </div>
    </div>
</div>