<!--Boton para agregar Estudios-->
<div class="col-12">
    <app-elemento-boton [imagen]="'assets/AddButton.png'" [target]="'#editStudies'" (click)="resetForm()" class="float-end"></app-elemento-boton>
</div>
<!--Modal para agregar o modificar Estudios-->
<div class="modal fade" id="editStudies" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modalEdit">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelar()"></button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title text-decoration-underline fw-bold">Estudio</h3>
                <form action="" [formGroup]="forms" (ngSubmit)="aceptar()">
                    <!--Input titulo-->
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.titulo" id="titulo_estudio" class="form-control" 
                            formControlName="titulo" placeholder="Titulo" [ngClass]="{'is-invalid': titulo.invalid&&titulo.touched, 'is-valid':titulo.valid&&titulo.touched}">
                        <label for="titulo_estudio" class="form-label">Titulo</label>
                    </div>

                    <!-- Input nombre de la institucion-->
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.nombreInstitucion"  id="nombreInstitucion" class="form-control" 
                            formControlName="nombreInstitucion" placeholder="Institucion" [ngClass]="{'is-invalid': nombreInstitucion.invalid&&nombreInstitucion.touched, 'is-valid':nombreInstitucion.valid&&nombreInstitucion.touched}">
                        <label for="nombreInstitucion" class="form-label">Institucion</label>
                    </div>

                    <!-- Input direccion de la institucion-->
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.direccionInstitucion"  id="direccionInstitucion" class="form-control" 
                            formControlName="direccionInstitucion" placeholder="Direccion institucion" [ngClass]="{'is-valid': forms.get('direccionInstitucion')!.touched}">
                        <label for="direccionInstitucion" class="form-label">Direccion</label>
                    </div>

                    <!-- Input url del logo de la institucion-->
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="elemento.rutaLogoInstitucion"  id="logo_institucion" class="form-control" 
                            formControlName="rutaLogo" [ngClass]="{'is-valid':forms.get('rutaLogo')!.touched}">
                        <label for="logo_institucion" class="input-group-text">Logo</label>
                    </div>
                    
                    <div class="row mb-3">
                        <!-- Input fecha de inicio del estudio-->
                        <div class="input-group col">
                            <input type="date" [(ngModel)]="elemento.fechaInicio"  id="fechaEstudioInicio" class="form-control" 
                                formControlName="fechaInicio" [ngClass]="{'is-invalid': fechaInicio.invalid&&fechaInicio.touched, 'is-valid':fechaInicio.valid&&fechaInicio.touched}" (change)="validarFechas()">
                            <label for="fechaEstudioInicio" class="input-group-text">Fecha inicio</label>
                        </div>
                        <!-- Input fecha de finalizacion del estudio-->
                        <div class="input-group col">
                            <input type="date" [(ngModel)]="elemento.fechaFin"  id="fechaEstudioFin" class="form-control" 
                                formControlName="fechaFin" [ngClass]="{'is-invalid': fechaFin.invalid&&fechaFin.touched, 'is-valid':fechaFin.valid&&fechaFin.touched}" (change)="validarFechas()">
                            <label for="fechaEstudioFin" class="input-group-text">Fecha fin</label>
                        </div>
                    </div>
                    <!-- Informacion si surge algun error -->
                    <app-info-error *ngIf="hadError" [mensaje]="mensajeError"></app-info-error>    

                    <!-- botones -->
                    <button class="btn btn-secondary shadow" type="button" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
                    <button class="btn btn-success shadow" type="submit" >Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar la eliminacion de un estudio -->
<app-form-borrar-elemento [elemento]="'Estudio'" (confirmar)="eliminar()" ></app-form-borrar-elemento>

<!-- Estudios -->
<div class="row">                
    <app-info-estudio class="col-12 col-md-4"  [estudio]="study" (emisor)="setActivo($event)" *ngFor="let study of lista"></app-info-estudio>
</div>