<section class="row text-center text-white pt-5 notFound mb-0" [style]="'background-color: '+seccion.colorFondo+'; color: '+seccion.colorTexto+';'">
    <header class="navbar navbar-expand-md fixed-top navbar-dark text-white barraSup">
        <nav class="container-fluid">
            <img class="navbar-brand img-fluid" src="assets/APLogo.png">
        </nav>
    </header>

        <div class="col-8 mx-auto text-center pt-4">
            <img class="img-fluid" src="assets/404.png">
            <h1 class="col-12 fw-bold position-relative text-uppercase start-50 translate-middle-x">
                <strong>
                    Ud ha entrado a la dimension desconocida
                </strong>
            </h1>
            <h3 >Error 404</h3>
            <p>Contenido no encontrado</p>
            <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
</section>