<!--Boton para agregar Estudios-->
<div class="col-12 ocultable">
    <img src="assets/AddButton.png" alt="" class="img-fluid btn float-end" data-bs-target="#editStudies" data-bs-toggle="modal" (click)="resetForm()">
</div>
<!--Modal para agregar o modificar Estudios-->
<div class="modal fade" id="editStudies" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modalEdit">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelar()"></button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title text-decoration-underline fw-bold">Estudio</h3>
                <form action="" [formGroup]="forms" (ngSubmit)="aceptar()">
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="estudio.titulo" name="" id="titulo_estudio" class="form-control" formControlName="titulo" placeholder="Titulo">
                        <label for="titulo_estudio" class="form-label">Titulo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="estudio.institucion"  id="institucion" class="form-control" formControlName="institucion" placeholder="Institucion">
                        <label for="titulo_estudio" class="form-label">Institucion</label>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="estudio.urlLogo"  id="logo_institucion" class="form-control" formControlName="urlLogo">
                        <label for="logo_institucion" class="input-group-text">Logo</label>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col">
                            <input type="number" [(ngModel)]="estudio.anioInicio"  id="fechaEstudioInicio" class="form-control" formControlName="anioInicio" min="1960" max="2022" aria-valuenow="2022">
                            <label for="fechaEstudioInicio" class="input-group-text">Fecha inicio</label>
                        </div>
                        <div class="input-group col">
                            <input type="number" [(ngModel)]="estudio.anioFin"  id="fechaEstudioFin" class="form-control" formControlName="anioFin" min="1960" max="2022" aria-valuenow="2022">
                            <label for="fechaEstudioFin" class="input-group-text">Fecha fin</label>
                        </div>
                    </div>
                    <button class="btn btn-secondary shadow" type="button" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
                    <button class="btn btn-success shadow" type="submit" data-bs-dismiss="modal">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-form-borrar-elemento [elemento]="'Estudio'" (confirmar)="eliminarEstudio()" ></app-form-borrar-elemento>
<div class="row">                
    <app-info-estudio class="col-12 col-md-4"  [estudio]="study" (emisor)="setActivo($event)" *ngFor="let study of estudios"></app-info-estudio>
</div>