<!--Seccion Home-->
<section class="row pt-5 pb-5 text-white" id="home">
    <div class="clo-12 pt-5 pb-5 mt-md-5">
        <img src="{{seccion.urlImagen}}" class="img-fluid">
        <h1 class="col-6 fw-bold position-relative text-uppercase start-50 translate-middle-x"><strong>{{seccion.titulo}}</strong></h1>
        <img src="../../../assets/StarSeparatorWhite.png" class="img-fluid" alt="----Soy un separador----">
        <p>{{seccion.texto}}</p>
        <!--Editor de seccion-->
        <!--Boton para editar la cabecera de la seccion-->
        <div class="col-12 ocultable">
            <img src="assets/EditButton.png" alt="" class="img-fluid btn editButton" data-bs-target="#editSection" data-bs-toggle="modal" (click)="llamarEditor()">
        </div>
    </div>
</section>
