<section class="row pt-3 " id="contact" [style]="'background-color: '+seccion.colorFondo+'; color: '+seccion.colorTexto+';'">
    <div class="col-12 mt-5">
        <h1 class="mt-5 text-uppercase"><strong>{{seccion.titulo}}</strong></h1>
        <!--Separador de estrella-->
        <app-elemento-separador class="img-fluid" [color]="seccion.colorTexto"></app-elemento-separador> 
        <p class="col-12">{{seccion.texto}}</p>
        <img src="{{seccion.rutaImagen}}" class="img-fluid col-4 col-sm-2 col-md-1 mb-3" *ngIf="seccion.rutaImagen.length>0">
        <!--Boton para editar la cabecera de la seccion-->
        <div class="col-12">
            <app-elemento-boton [imagen]="'assets/EditButton.png'" [target]="'#editSection'" (click)="llamarEditor()" class="editButton"></app-elemento-boton>
        </div>
        <!--Formulario envio de mensajes-->
        <app-form-envio-mensaje *ngIf="!isUser()"></app-form-envio-mensaje>

        <!--Formulario o "vista" para leer los mensajes, solo disponible cuando el propietario esta logueado-->
        <app-form-lectura-mensaje *ngIf="isUser()"></app-form-lectura-mensaje>
    </div>
</section>