<section class="row pt-3 text-white" id="contact" [style]="'background-color: '+seccion.colorFondo+';'">
    <div class="col-12 mt-5">
        <h1 class="mt-5 text-uppercase"><strong>{{seccion.titulo}}</strong></h1>
        <img src="assets/StarSeparatorWhite.png" alt="----Soy un separador----" class="img-fluid">
        <p class="col-12">{{seccion.texto}}</p>
        <!--Boton para editar la cabecera de la seccion-->
        <div class="col-12">
            <app-elemento-boton [imagen]="'assets/EditButton.png'" [target]="'#editSection'" (click)="llamarEditor()" class="editButton"></app-elemento-boton>
        </div>
        <!--Formulario envio de mensajes-->
        <app-form-envio-mensaje *ngIf="!isUser()"></app-form-envio-mensaje>

        <!--Formulario o "vista" para leer los mensajes, solo disponible cuando el propietario esta logueado-->
        <app-form-lectura-mensaje *ngIf="isUser()"></app-form-lectura-mensaje>
    </div>
</section>