<!-- Card con la informacion del estudio -->
<div class="card mx-auto mt-3 text-white shadow estudios">
    <h5 class="card-title text-decoration-underline mt-2"><strong>{{estudio.titulo}}</strong></h5>
    <div class="card-body">
        <img src="{{estudio.rutaLogoInstitucion}}" alt="" class="card-img rounded-circle">
        <p class="card-text">{{estudio.nombreInstitucion}}</p>
    </div>
    <div class="card-footer">{{getYear(estudio.fechaInicio) + '-' + getYear(estudio.fechaFin)}}</div>
</div>
<div class="col-12 mx-auto mt-2">
    <!--Botones para editar o eliminar Estudio -->
    <app-elemento-boton class="me-2" [estilo]="'width:75px;'"  [imagen]="'assets/EditButton.png'" [target]="'#editStudies'" (click)="activar()" class="editButton"></app-elemento-boton>
    <app-elemento-boton class="ms-2" [estilo]="'width:75px;'"  [imagen]="'assets/DeleteButton.png'" [target]="'#modalEliminarEstudio'" (click)="activar()" class="editButton"></app-elemento-boton>
    
</div>