<div class="col-12">
    <app-elemento-boton [imagen]="'assets/AddButton.png'" [target]="'#editExperiences'" (click)="resetForm()" class="float-end"></app-elemento-boton>
</div>
<!--Modal para agregar o editar experiencias laborales-->
<div class="modal fade" id="editExperiences" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content modalEdit">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelar()"></button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title fw-bold text-decoration-underline mb-3">Experiencia Laboral</h3>
                <form action="" [formGroup]="forms" (ngSubmit)="aceptar()">
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.nombreEmpresa" id="nombreEmpresa" class="form-control" formControlName="nombreEmpresa" placeholder="Nombre de la Empresa">
                        <label for="nombreEmpresa" class="form-label">Nombre de la Empresa</label>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="elemento.urlLogoEmpresa" id="logoEmpresa" class="form-control" formControlName="urlLogoEmpresa">
                        <label for="logoEmpresa" class="input-group-text">Logo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.puesto" id="puestoLaboral" class="form-control" formControlName="puesto" placeholder="Puesto en el que trabajaba">
                        <label for="puestoLaboral" class="form-label">Puesto Laboral</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="elemento.tipoTrabajo" id="tipoTrabajo" class="form-control" formControlName="tipoTrabajo" placeholder="Tipo de trabajo que realizaba">
                        <label for="tipoTrabajo" class="form-label">Tipo de Trabajo</label>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col">
                            <input type="number" [(ngModel)]="elemento.fechaInicio" id="fechaExpInit" class="form-control" formControlName="fechaInicio"
                                min="1960" max="2050" aria-valuenow="2022">
                            <label for="fechaExpInit" class="input-group-text">Fecha inicio</label>
                        </div>
                        <div class="input-group col">
                            <input type="number" [(ngModel)]="elemento.fechaFin" id="fechaExpFin" class="form-control" formControlName="fechaFin"
                                min="1960" max="2050" aria-valuenow="2022">
                            <label for="fechaExpFin" class="input-group-text">Fecha fin</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea [(ngModel)]="elemento.descripcion" id="descripcionPuesto" class="form-control" style="resize: none;height: 150px;" formControlName="descripcion" placeholder="Que hacia en ese puesto"></textarea>
                        <label for="descripcionPuesto" class="form-label">Lo que hacia en ese puesto era...</label>
                    </div>
                    <button class="btn btn-secondary shadow" type="button" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
                    <button class="btn btn-success shadow" type="submit" data-bs-dismiss="modal">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-form-borrar-elemento [elemento]="'Experiencia'" (confirmar)="eliminar()"></app-form-borrar-elemento>
<div class="row">
    <app-info-experiencia [experiencia]="experience" (emisor)="setActivo($event)" *ngFor="let experience of lista" class="col-12 col-md-4"></app-info-experiencia>
</div>