<!--Seccion Works-->
<section class="row pt-5 text-white" id="works">
    <div class="col-12 mt-5">
        <h1 class="text-uppercase mt-5"><strong>{{seccion.titulo}}</strong></h1>
        <img src="assets/StarSeparatorWhite.png" alt="----Soy un separador----" class="img-fluid">
        <p class="col-12">{{seccion.texto}}</p>
    </div>
    <!--Editor de seccion-->
    <app-editor-seccion [seccion]="seccion" (messageEvent)="editarSeccion($event)"></app-editor-seccion>

    <article>
        <h3 class="fw-bold text-decoration-underline">Experiencia</h3>
        <div class="row mb-5">
            
            <!--Editor de Experiencias Laborales-->
            <app-editor-experiencia></app-editor-experiencia>
        </div>
    </article>
    <article>
        <h3 class="fw-bold text-decoration-underline">Proyectos</h3>
        <div class="row mb-5">
            <!--Editor de Colaboracion en Proyectos-->
            <app-editor-proyecto [proyecto]="proyectoAEditar" (cambiar)="setearProyecto($event)" (agregar)="agregarProyecto($event)"></app-editor-proyecto>
            <app-info-proyecto [proyecto]="project" (emisor)="setearProyecto($event)" *ngFor="let project of proyectos" class="col-12 col-md-4"></app-info-proyecto>
        </div>
    </article>
</section>