<section class="row pt-5 text-white" id="contact">
    <div class="col-12 mt-5">
        <h1 class="mt-5 text-uppercase"><strong>{{seccion.titulo}}</strong></h1>
        <img src="assets/StarSeparatorWhite.png" alt="----Soy un separador----" class="img-fluid">
        <p class="col-12">{{seccion.texto}}</p>
        <!--Boton para editar la cabecera de la seccion-->
        <div class="col-12 ocultable">
            <img src="assets/EditButton.png" alt="" class="img-fluid btn editButton" data-bs-target="#editSection" data-bs-toggle="modal" (click)="llamarEditor()">
        </div>
        <!--Formulario envio de mensajes-->
        <app-form-envio-mensaje></app-form-envio-mensaje>

        <!--Formulario o "vista" para leer los mensajes, solo disponible cuando el propietario esta logueado-->
        <app-form-lectura-mensaje></app-form-lectura-mensaje>
    </div>
</section>