<!--Subseccion para leer mensajes, solo disponible cuando el usuario este logueado-->
<div class="col-12 col-md-8 mx-auto ocultable">
    <div class="col mb-3">
        <div class="row mx-auto align-items-center barra-titulo">
            <div class="col-2">Fecha</div>
            <div class="col-4 border-start border-end">Nombre</div>
            <div class="col-6">Asunto</div>
        </div>
        <div class="col-12 bg-white" style="height: 200px; overflow-y: scroll; border-radius: 0px 0px 15px 15px;">
            <div class="list-group">
                <button type="button" class="list-group-item" *ngFor="let mensaje of mensajes" (click)="leerMensaje(mensaje.id)" 
                    [ngClass]="{'active fw-bold text-dark':mensaje.id==mensajeActivo.id ,'text-secondary':mensaje.leido}">
                    <div class="row small">
                        <div class="col-2 ">{{darFormatoFecha(mensaje.fecha,false)}}</div>
                        <div class="col-4">{{mensaje.nombreAutor}} {{mensaje.apellidoAutor}}</div>
                        <div class="col-6">{{mensaje.titulo}}</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <form class="message-board">
        <div class="row mb-0 mb-md-3">
            <div class="input-group col-12 col-md mb-2 mb-md-0">
                <label for="nombreMensaje" class="input-group-text label-info">Nombre:</label>
                <input type="text" [value]="mensajeActivo.nombreAutor+' '+mensajeActivo.apellidoAutor" id="nombreMensaje" class="form-control" disabled readonly>
            </div>
            <div class="input-group col-12 col-md mb-2 mb-md-0">
                <label for="emailMensaje" class="input-group-text label-info">Email:</label>
                <input type="email" [value]="mensajeActivo.emailAutor" id="emailMensaje" class="form-control" disabled readonly>
            </div>
        </div>
        <div class="row mb-0 mb-md-3">
            <div class="input-group col-12 col-md mb-2 mb-md-0 ">
                <label for="asuntoMensaje" class="input-group-text label-info">Asunto:</label>
                <input type="text" [value]="mensajeActivo.titulo" id="asuntoMensaje" class="form-control" disabled readonly>
            </div>
            <div class="input-group col-12 col-md mb-2 mb-md-0 ">
                <label for="fechaMensaje" class="input-group-text top label-info">Fecha:</label>
                <input type="text" [value]="darFormatoFecha(mensajeActivo.fecha,true)" id="fechaMensaje" class="form-control" disabled readonly>
            </div>
        </div>
        <div class="col mb-3">
            <label for="cuerpoMensaje" class="input-group-text justify-content-center" style="border-radius: 15px 15px 0px 0px;">Mensaje</label>
            <textarea id="cuerpoMensaje" class="form-control text-left" disabled readonly style="resize: none; height: 150px;">{{mensajeActivo.cuerpo}}</textarea>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary shadow mb-3 " (click)="anteriorMensaje()">Previo</button>
            <button type="button" class="btn btn-primary shadow mb-3 " (click)="siguienteMensaje()">Siguiente</button>
        </div>
    </form>
</div>
