.barra-titulo{
    background-color: #253650;
    color: white;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
}

.list-group-item{
    color: #253650;
    font-weight: bold;
}

.list-group .active{
    background-color: #c4c4c4;
    color: #253650;
    border:none;
}


.message-board label{
    background-color: #253650;
    color:white;
    border-radius: 15px;
    border: none;
}

.label-info{
    width: 80px;
}
