<!--Seccion About-->
<section class="row pt-3" id="about" [style]="'background-color: '+seccion.colorFondo+'; color: '+seccion.colorTexto+';'">
    <div class="col-12 mt-5 mb-5">
        <h1 class="mt-5 text-uppercase"><strong>{{seccion.titulo}}</strong></h1>
        <app-elemento-separador class="img-fluid" [color]="seccion.colorTexto"></app-elemento-separador> 
        <div class="col-12">
            <div class="row pt-3 mx-auto d-inline-flex position-relative justify-content-center">
                <img src="{{seccion.rutaImagen}}" class="img-fluid col-5 col-sm-4 col-md-2" *ngIf="seccion.rutaImagen.length>0">
                <p class="col-12 col-md-6 align-self-stretch">{{seccion.texto}}</p>
            </div>
            <!--Boton para editar la cabecera de la seccion-->
            <div class="col-12 ">
                <app-elemento-boton [imagen]="'assets/EditButton.png'" [target]="'#editSection'" (click)="llamarEditor()" class="editButton"></app-elemento-boton>
            </div>
            <!--Editor de seccion-->
            <article class="mb-5">
                <h3 class="col-12 text-decoration-underline fw-bold">Estudios</h3>
                <!--Editor de Estudios-->
                <app-editor-estudio></app-editor-estudio>
            </article>
            <article class="mb-5">                
                <h3 class="col-12 text-decoration-underline fw-bold">Habilidades</h3>
                <!--Editor de habilidades-->
                <app-editor-habilidad></app-editor-habilidad>
            </article>
        </div>
    </div>
</section>
