  <!--Menu principal-->
 <header class="navbar navbar-expand-md fixed-top navbar-dark text-white" id="cabecera">
    <nav class="container-fluid">
        <img class="navbar-brand img-fluid" src="assets/APLogo.png">
        <div class="col-2 col-md-1 mt-3 mx-auto" id="usuario_logueado" *ngIf="isLogin()">
            <img src="assets/Star 1.png" class="img-fluid" >
            <p class="text-uppercase">{{usuario}}</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            <div class="col-12">
                <ul class="nav navbar-nav flex-row justify-content-md-end">
                    <li class="nav-item col col-md-auto ms-0 me-0 mt-0" *ngIf="isLogin()">
                            <app-elemento-boton [imagen]="'assets/EditButton.png'" [target]="'#modalEditMedioContacto'" [estilo]="'height: 60px;'"></app-elemento-boton>
                    </li>
                    <li class="nav-item col col-md-auto  ms-0 me-0" *ngFor="let medio of mediosContacto">
                        <app-info-medio-contacto [medioContacto]="medio" class="nav-link"></app-info-medio-contacto>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active" aria-current="page">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link" aria-current="page">ACERCA DE</a>
                    </li>
                    <li class="nav-item">
                        <a href="#works" class="nav-link" aria-current="page">TRABAJOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link" aria-current="page">CONTACTO</a>
                    </li>
                    <li class="nav-item not-ocultable">
                        <a href="" class="nav-link" aria-current="page" data-bs-toggle="modal" 
                            data-bs-target="#siginmodal" *ngIf="!isLogin()">LOGIN</a>
                    </li>
                    <li class="nav-item ocultable" *ngIf="isLogin()">
                        <a href="" class="nav-link" aria-current="page" (click)="logout()">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Modal para editar las redes sociales-->
<app-editor-medio-contacto [lista]="mediosContacto" (actualizar)="cargarLista($event)"></app-editor-medio-contacto>
<app-form-login></app-form-login>