 <!--Menu principal-->
 <header class="navbar navbar-expand-md fixed-top navbar-dark text-white" id="cabecera">
    <nav class="container-fluid">
        <img class="navbar-brand img-fluid" src="assets/APLogo.png">
        <div class="col-2 col-md-1 mt-3 mx-auto ocultable" id="usuario_logueado" *ngIf="isLogin()">
            <img src="assets/Star 1.png" class="img-fluid" >
            <p class="text-uppercase">{{usuario}}</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
            <div class="col-12">
                <ul class="nav navbar-nav flex-row justify-content-md-end">
                    <li class="nav-item col-4 col-md-auto ms-0 me-0" *ngFor="let medio of mediosContacto">
                        <app-info-medio-contacto [medioContacto]="medio" class="nav-link"></app-info-medio-contacto>
                    </li>
                </ul>

            </div>
            <div class="col-12">
                <ul class="nav navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active" aria-current="page">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link" aria-current="page">ACERCA DE</a>
                    </li>
                    <li class="nav-item">
                        <a href="#works" class="nav-link" aria-current="page">TRABAJOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link" aria-current="page">CONTACTO</a>
                    </li>
                    <li class="nav-item not-ocultable">
                        <a href="" class="nav-link" aria-current="page" data-bs-toggle="modal" 
                            data-bs-target="#siginmodal" *ngIf="!isLogin()">LOGIN</a>
                    </li>
                    <li class="nav-item ocultable" *ngIf="isLogin()">
                        <a href="" class="nav-link" aria-current="page" >LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--Modal con el formulario de login-->
<div class="modal fade" id="siginmodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modalLogin mx-auto">
            <div class="modal-header">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title col-11 mx-auto fw-bold text-decoration-underline mb-5">LOGIN</h3>
                <form method="post" class="col-10 mx-auto text-secondary mt-5">
                    <div class="form-floating mb-5">
                        <input type="text" id="usuario" class="form-control" placeholder="Usuario">
                        <label for="usuario" class="form-label">Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" id="contraseña" class="form-control" placeholder="contraseña">
                        <label for="contraseña" class="form-label">Password</label>
                    </div>
                    <button type="button" class="btn btn-primary shadow mb-3 mt-5">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
