<!--Pagina para mostrar cuando se intenta acceder a una ruta no establecida-->
<div class="row notFound">
<header class="navbar navbar-expand-md fixed-top navbar-dark text-white barraSup">
    <nav class="container-fluid">
        <img class="navbar-brand img-fluid" src="assets/APLogo.png">
    </nav>
</header>
    <div class="row text-white pt-5 mt-5 mb-4">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="assets/404.png">
        </div>
        <div class="col-12 col-md-8 mt-5 text-center mx-auto  ">
            <h1 class="col-12 fw-bold position-relative start-50 translate-middle-x ">
                <strong>
                    Ups!! Estamos perdidos.
                </strong>
            </h1>
            <h3 >Error 404</h3>
            <p>Contenido no encontrado</p>
        </div>
        <div class="col-12">
            <button type="button" class=" btn btn-primary" (click)="volver()">Volver</button>
        </div>
        
    </div>
<app-barra-footer></app-barra-footer>
</div>