.modal-header{
    border: none;
}

.modalEdit{
    color: #253650;
    border-radius: 30px;
}

.editButton{
    height: 50px;
    margin:8px;
    padding: 0;
       
}

.btn-primary{
    height: 3em;
    aspect-ratio: 2;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #253650;
    border:none;
}

.btn-secondary{
    height: 3em;
    aspect-ratio: 2;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #c4c4c4;
    border:none;
}

.btn-success{
    height: 3em;
    aspect-ratio: 2;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #21BE99;
    border:none;
}

.btn-danger{
    height: 3em;
    aspect-ratio: 2;
    border-radius: 8px;
    font-weight: bolder;
    background-color: #bc4f4f;
    border:none;
}

.card{
    width: 250px;
    border-radius: 40px;
}

.card-header, .modal-header{
    border: none;
}

.card-footer, .modal-footer{
    border:none;
}