<!--Pagina utlizada para la carga de datos, como una sala de espera-->
<!-- Cabecera vacia, solo tiene el logo de argentina programa-->
<header class="navbar navbar-expand-md fixed-top navbar-dark text-white barraSup">
    <nav class="container-fluid">
        <img class="navbar-brand img-fluid" src="assets/APLogo.png">
    </nav>
</header>
<!--Informacion para el usuario-->
<section class="row text-center text-white mt-5 pt-5 mb-0 loadPage" >
    <h1 class="col-8 fw-bold mx-auto">cargando contenido, por favor espere...</h1>
    <div class="placeholder-glow">
        <span class="placeholder col-10"></span>
    </div>
</section>
<!--Footer para completar la pagina-->
<app-barra-footer></app-barra-footer>