<!--Seccion Home-->
<section class="row pt-4 pb-5" id="home" [style]="'background-color: '+seccion.colorFondo+'; color: '+seccion.colorTexto+';'">
    <div class="col-12 pt-5 pb-5 mt-md-5">
        <img src="{{seccion.rutaImagen}}" class="img-fluid">
        <h1 class="col-6 fw-bold position-relative text-uppercase start-50 translate-middle-x"><strong>{{seccion.titulo}}</strong></h1>
        <app-elemento-separador class="img-fluid" [color]="seccion.colorTexto"></app-elemento-separador> 
        <p>{{seccion.texto}}</p>
        <!--Boton para editar la seccion-->
        <div class="col-12">
            <app-elemento-boton [imagen]="'assets/EditButton.png'" [target]="'#editSection'" (click)="llamarEditor()" class="editButton"></app-elemento-boton>
        </div>
    </div>
</section>
