<!--Tarjeta de experiencia Laboral 1-->

    <div class="card mx-auto mt-3 shadow experiencia" data-bs-toggle="modal" [attr.data-bs-target]="'#infoWork'+experiencia.id">
        <div class="card-body">
            <h5 class="card-title text-decoration-underline fw-bold">{{experiencia.puesto}}</h5>
            <img src="{{experiencia.rutaLogoEmpresa}}" alt="" class="card-img position-absolute top-50 start-50 translate-middle">
            <div class="card-text position-absolute bottom-0 start-50 translate-middle-x">
                <h5 class="fw-bold">{{experiencia.nombreEmpresa}}</h5>
                <p>{{getYear(experiencia.fechaInicio)}}-{{getYear(experiencia.fechaFin)}}</p>
            </div>
        </div>
    </div>
    <!--Botones para modificar o eliminar la tarjeta de experiencia-->
    <div class="col-12 mt-2 ">
        <app-elemento-boton [estilo]="'width:75px;'" [imagen]="'assets/EditButton.png'" [target]="'#editExperiences'" (click)="activar()" class="editButton"></app-elemento-boton>
        <app-elemento-boton [estilo]="'width:75px;'" [imagen]="'assets/DeleteButton.png'" [target]="'#modalEliminarExperiencia'" (click)="activar()" class="editButton"></app-elemento-boton>
    </div>

<!--Modal para la tarjeta de experiencia 1-->
<div class="modal fade" id="infoWork{{experiencia.id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modalTrabajo">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{experiencia.rutaLogoEmpresa}}" alt="" class="img-fluid col-8 mx-auto mb-3">
                <h3 class="col-11 modal-title mx-auto fw-bold text-decoration-underline"><strong>{{experiencia.puesto}} {{experiencia.tipoTrabajo}} en {{experiencia.nombreEmpresa}}</strong></h3>
                <h5 class="fw-bold mt-3 mb-3">{{getYear(experiencia.fechaInicio)}}-{{getYear(experiencia.fechaFin)}}</h5>
                <p class="col-12">{{experiencia.descripcion}}</p>
            </div>
        </div>
    </div>
</div>
 